<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caipiao.mapper.PlanMapper">
  <resultMap id="BaseResultMap" type="com.caipiao.entity.Plan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="programmeID" jdbcType="INTEGER" property="programmeid" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="totalAmount" jdbcType="INTEGER" property="totalamount" />
    <result column="openAmount" jdbcType="INTEGER" property="openamount" />
    <result column="profit" jdbcType="INTEGER" property="profit" />
    <result column="parent" jdbcType="INTEGER" property="parent" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="planno" jdbcType="INTEGER" property="planno" />
    <result column="expect" property="expect" jdbcType="VARCHAR" />
    <result column="opencode" property="opencode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id, programmeID, amount, totalAmount, openAmount, profit, parent, planno, expect, opencode, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="findByProgramme" resultType="com.caipiao.entity.Plan">
      select
      <include refid="Base_Column_List" />
      from t_plan
      where programmeID = #{programmeID,jdbcType=INTEGER} order by id asc
    </select>
  <select id="findLastPlan" resultType="com.caipiao.entity.Plan">
    select
    <include refid="Base_Column_List" />
    from t_plan
    where programmeID = #{programmeID,jdbcType=INTEGER} and state = 0 order by id asc limit 0, 1
  </select>
  <select id="findEndPlan" resultType="com.caipiao.entity.Plan">
    select
    <include refid="Base_Column_List" />
    from t_plan
    where programmeID = #{programmeID,jdbcType=INTEGER} order by id desc limit 0, 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.caipiao.entity.Plan">
    insert into t_plan (id, programmeID, amount, 
      totalAmount, openAmount, profit, 
      parent, planno, state)
    values (#{id,jdbcType=INTEGER}, #{programmeid,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, 
      #{totalamount,jdbcType=INTEGER}, #{openamount,jdbcType=INTEGER}, #{profit,jdbcType=INTEGER}, 
      #{parent,jdbcType=INTEGER}, #{planno,jdbcType=INTEGER}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.caipiao.entity.Plan">
    insert into t_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="programmeid != null">
        programmeID,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="totalamount != null">
        totalAmount,
      </if>
      <if test="openamount != null">
        openAmount,
      </if>
      <if test="profit != null">
        profit,
      </if>
      <if test="parent != null">
        parent,
      </if>
      <if test="planno != null">
        planno,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="programmeid != null">
        #{programmeid,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="totalamount != null">
        #{totalamount,jdbcType=INTEGER},
      </if>
      <if test="openamount != null">
        #{openamount,jdbcType=INTEGER},
      </if>
      <if test="profit != null">
        #{profit,jdbcType=INTEGER},
      </if>
      <if test="parent != null">
        #{parent,jdbcType=INTEGER},
      </if>
      <if test="planno != null">
        #{planno,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caipiao.entity.Plan">
    update t_plan
    <set>
      <if test="programmeid != null">
        programmeID = #{programmeid,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="totalamount != null">
        totalAmount = #{totalamount,jdbcType=INTEGER},
      </if>
      <if test="openamount != null">
        openAmount = #{openamount,jdbcType=INTEGER},
      </if>
      <if test="profit != null">
        profit = #{profit,jdbcType=INTEGER},
      </if>
      <if test="parent != null">
        parent = #{parent,jdbcType=INTEGER},
      </if>
      <if test="planno != null">
        planno = #{planno,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="expect != null" >
        expect = #{expect,jdbcType=VARCHAR},
      </if>
      <if test="opencode != null" >
        opencode = #{opencode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caipiao.entity.Plan">
    update t_plan
    set programmeID = #{programmeid,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      totalAmount = #{totalamount,jdbcType=INTEGER},
      openAmount = #{openamount,jdbcType=INTEGER},
      profit = #{profit,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      parent = #{parent,jdbcType=INTEGER},
      planno = #{planno,jdbcType=INTEGER},
      expect = #{expect,jdbcType=VARCHAR},
      opencode = #{opencode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>